*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}


.wrapper{
  height: 100vh;
  padding: 20px;
  background-image: linear-gradient(#009688, #009688 15%, #d7dbd7 10%);
}

.container{
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.user-top{
  height: 70px;
  background-color: #eaeaea;
} 

.user-top i{
  font-size: 22px;
  color: rgb(168, 168, 168);
  padding: 0 8px;
  cursor: pointer;
}

 /*CONTAINER LEFT*/ 
#container-left{
  height: 100%;
  width: 35%;
  background-color: white;
}

.user-top.left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid rgb(186, 183, 183);
}

.user-top.left img{
  height: 50px;
  margin: 0 0 0 10px;
  border-radius: 50%;
}

.user-top.left .user-name-img{
  display: flex;
  align-items: center;
}

.user-top.left .user-icons{
  margin: 0 20px;
}



#notifications{
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #8edafc;
}

#notifications .bell{
  background-color: white;
  padding: 15px;
  margin: 0 10px 0 20px;
  color: #8edafc;
  border-radius: 50%;
}

#notifications .bell i{
  font-size: 20px;
}

#notifications .receive-notifications{
  display: flex;
  flex-direction: column;
}

#notifications .receive-notifications a{
  color: grey;
  font-size: 14px;
  margin: 2px 0;
}

#search{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 50px;
  background-color: #fafafa;
}

#search input{
  flex: 0.8;
  border: none;
  padding: 8px 10px;
}

#search label{
  flex: 0.2;
  text-align: center;
  color: rgb(185, 185, 185);
  padding: 6px 0;
  background-color: white;
}

#contacts{
  height: calc(100% - 200px);
  overflow-y: scroll;
  width: 100%;
}

#contacts .contact.active{
  background-color: #e9ebeb;
}

#contacts .contact{
  position: relative;
  display: flex;
  height: 80px;
  border-bottom: 1px solid rgb(240, 236, 236);
  border-right: 1px solid rgb(242, 237, 237);
}

#contacts .contact img{
  height: 60px;
  margin: 10px 20px;
  border-radius: 50%;
}

#contacts .contact .name-last_message{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

#contacts .contact .name-last_message span.last-message{
  margin-top: 5px;
  color: rgb(174, 174, 174);
  font-size: 13px;
}

#contacts .contact span.last-message-date{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px;
  color: grey;
  font-size: 11px;
}
/*CONTAINER LEFT*/



/*CONTAINER RIGHT*/
#container-right{
  height: 100%;
  width: 65%;
}

#container-right .user-top.right{
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
}

#container-right .user-top.right .icons{
  flex: 1;
  text-align: end;
  margin: 0 10px
}

#container-right .user-top.right img{
  height: 50px;
  border-radius: 50%;
  margin: 0 15px 0 0;
}

#container-right .user-top.right .user_name-last_access{
  display: flex;
  flex-direction: column;
}
#container-right .user-top.right .user_name-last_access span:last-of-type{
  color: grey;
  font-size: 13px;
  margin: 2px 0;
}

#container-right .chat{
  height: calc(100% - 140px);
  background-image: url(/vue-boolzapp/img/mine.jpg);
  overflow-y: scroll;
}

.message-ctn{
  display: flex;
  flex-direction: column;
  padding: 50px 0
}

.message{
  position: relative;
  display: flex;
  align-items: center;
  padding: 25px 0;
  margin: 5px 0;
  min-width: 40%;
  max-width: 60%;
  border-radius: 10px;
}

.message i{
  display: none;
  cursor: pointer;
}

.message:hover i{
  display: block;
  position: absolute;
  right: 10px;
  top: 5px;
  color: grey;
  cursor: pointer;
}

p.message-text{
  font-size: 15px;
  padding: 0 15px;
}

p.message-hour{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 8px;
  font-size: 10px;
  color: rgb(168, 168, 168);
}

.message.received{
  align-self: flex-start;
  height: 20px;
  background-color:white; 
}

.message.sent{
  align-self: flex-end;
  height: 20px;
  background-color: #d5f9ba;
}

.message-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 37px;
  height: 70px;
  background-color: #f3eeea;
  z-index: 999;
}


.message-input i{
  color: grey;
  font-size: 24px;
  cursor: pointer;
}

.message-input input{
  width: 87%;
  border: none;
  padding: 15px 14px;
  font-size: 15px;
  border-radius: 5px;
}
/*CONTAINER RIGHT*/
