*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

/* background-color: #009688;
background-color: #dadbd4;
 */

.wrapper{
  height: 100vh;
  padding: 20px;
  background-image: linear-gradient(#009688, #009688 15%, #d7dbd7 10%);
}

.container{
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

#container-left{
  height: 100%;
  width: 35%;
  background-color: white;
}

#container-right{
  height: 100%;
  width: 65%;
/*   background-color:aquamarine;
 */}

.user-top{
  height: 70px;
  background-color: #eaeaea;
} 

.user-top.left{
  display: flex;
  align-items: center;
  border-right: 1px solid rgb(186, 183, 183);
}

.user-top.left img{
  height: 50px;
  margin: 0 0 0 10px;
  border-radius: 50%;
}

#notifications{
  height: 80px;
  background-color: #8edafc;
}

#search{
  height: 50px;
  background-color: #fafafa;
}

#contacts{
  height: calc(100% - 200px);
  overflow-y: scroll;
  width: 100%;
}

#contacts .contact{
  position: relative;
  display: flex;
  height: 80px;
  border-bottom: 1px solid rgb(240, 236, 236);
  border-right: 1px solid rgb(242, 237, 237);
}

#contacts .contact img{
  height: 60px;
  margin: 10px 20px;
  border-radius: 50%;
}

#contacts .contact .name-last_message{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

#contacts .contact .name-last_message span.last-message{
  margin-top: 5px;
  color: rgb(174, 174, 174);
  font-size: 13px;
}

#contacts .contact span.last-message-date{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px;
  color: grey;
  font-size: 11px;
}

#container-right .user-top.right{
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
}

#container-right .user-top.right img{
  height: 50px;
  border-radius: 50%;
  margin: 0 15px 0 0;
}

#container-right .user-top.right .user_name-last_access{
  display: flex;
  flex-direction: column;
}
#container-right .user-top.right .user_name-last_access span:last-of-type{
  color: grey;
  font-size: 13px;
  margin: 2px 0;
}

#container-right .chat{
  height: calc(100% - 140px);
  /* background-color: #dfd7cf; */
  background-image: url(/vue-boolzapp/img/mine.jpg);
}


.message-ctn{
  display: flex;
  flex-direction: column;
  padding: 50px 0
}

.message{
  position: relative;
  display: flex;
  align-items: center;
  padding: 25px 0;
  margin: 5px 0;
  min-width: 40%;
  max-width: 60%;
  border-radius: 10px;
}

p.message-text{
  font-size: 15px;
  padding: 0 15px;
}

p.message-hour{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 8px;
  font-size: 10px;
  color: rgb(168, 168, 168);
}

.message.received{
  align-self: flex-start;
  height: 20px;
  background-color:white; 
}

.message.sent{
  align-self: flex-end;
  height: 20px;
  background-color: #d5f9ba;
}

#container-right .message-input{
  height: 70px;
  background-color: #f3eeea;
}