<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet"> 
  
  <!-- DayJs core -->
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.2/dayjs.min.js"></script>


  <!-- DayJs plugin -->
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.2/plugin/customParseFormat.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.2/plugin/relativeTime.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/style.css">
  <title>Whatsapp</title>
</head>
<body>


  <div id="app" class="wrapper">

    <div class="container">

      <!-- parte sinistra -->
      <div id="container-left">
        <div class="user-top left">
          <div class="user-name-img">
            <img :src="`img/avatar${user.avatar}.jpg`" :alt="user.name">
            <span>{{user.name}}</span>
          </div>
          <div class="user-icons">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
        <div id="notifications">
          <div class="bell">
            <i class="fa-solid fa-bell-slash"></i>
          </div>
          <div class="receive-notifications">
            <span>Ricevi notifiche di nuovi messaggi</span>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>
        <div id="search">
          <label for="text">
            <i class="fa-solid fa-magnifying-glass"></i>
          </label>
          <input
          v-model="searchUser" 
          @keyup="search()"
          type="text" name="search" placeholder="Cerca o inizia una nuova chat">
        </div>
        <div id="contacts">

        <!-- *********ciclo contatti******** -->
          <div
          v-for="(contatto, index) in dataBase" 
          v-if="contatto.visible"
          @click="selectedUserIndex = index"
          :class="{active: selectedUserIndex === index}"
          class="contact">
            <img 
            :src="`img/avatar${contatto.avatar}.jpg`" 
            :alt="contatto.name">
            <div class="name-last_message">
              <span>{{contatto.name}}</span>
              <span class="last-message">{{getLastMessage(contatto)}}</span>
            </div>
            <span class="last-message-date">{{getLastDate(contatto)}}</span>
          </div>
  
        <!-- *********ciclo contatti******** -->

        </div>
      </div>
      <!-- parte sinistra -->


      <!-- parte destra -->
      <div id="container-right">
        <div class="user-top right">
          
          <img :src="`img/avatar${dataBase[selectedUserIndex].avatar}.jpg`" :alt="user.name">
          <div class="user_name-last_access">
            <span>{{dataBase[selectedUserIndex].name}}</span>
            <span>Ultimo accesso oggi alle 12:00</span>
          </div>

          <div class="icons">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>


        </div>
        <div class="chat">
          <div class="container message-ctn">
            <div
            v-for="(messaggio, index) in dataBase[selectedUserIndex].messages" 
            :class="messaggio.status"
            class="message"
            >
              <p class="message-text">{{messaggio.message}}</p>
              <p class="message-hour">{{messaggio.date}}</p>
              
              <i
                class="fa-solid fa-chevron-down"
                @click="chevronClick(index)"
                >
              </i>

              <div
              v-show="eliminateMessageToggle === true && selectedMessageIndex === index"
              class="drop_down_menu"
              >
                  <option
                    value="info">Info Messaggio</option>
                  <option
                    @click="selectedEliminate(selectedMessageIndex, selectedUserIndex, messaggio, index)"
                    value="eliminate">Elimina Messaggio</option>

                <!-- <select v-model="selectedDropDown" name="" id="">
                  <option
                    value="info">Info Messaggio</option>
                  <option
                    value="eliminate">Elimina Messaggio</option>
                </select> -->

              </div>

              
              
            </div>
            <!-- <div class="message envoy">
              <p class="message-text">Hai portato a spasso il cane?</p>
              <p class="message-hour">16:46</p>
            </div>
            <div class="message received">
              <p class="message-text">Tutto fatto!!</p>
              <p class="message-hour">16:46</p>
            </div> -->
          </div>
        </div>
        <div class="message-input">
          <i class="fa-regular fa-face-smile"></i>
          <input
          v-model="messageToPush"
          @keyup.enter="pushMessage" 
          type="text" name="message" id="" placeholder="Scrivi un messaggio">
          <i class="fa-solid fa-microphone"></i>
        </div>
      </div>
      <!-- parte destra -->
      
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/script.js"></script>
</body>
</html>